{% extends 'base.html' %}

{%block content%}
<main>
    <h1>My Accounts</h1>
    <table>
        <thead>
            <th scope="col">Name</th>
            <th scope="col">Number</th>
            <th scope="col">Number of receipts</th>
        </thead>
        <tbody>
            {% for account in accounts %}
            <tr>
                <td scope="row">{{account.name}}</td>
                <td scope="row">{{account.number}}</td>
                <td scope="row">{{account.receipts.count}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{%endblock content%}
