<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href={% url 'create_account' %}>Add Bank Account</a></li>
                <li><a href={% url 'create_category' %}>Add New Expense Category</a></li>
                <li><a href={% url 'create_receipt' %}>Add New Receipt</a></li>
                <li><a href={% url 'account_list' %}>Account View</a></li>
                <li><a href={% url 'category_list' %}>Category View</a></li>
                <li><a href={% url 'home' %}>Receipt View</a></li>
                <li><a href={% url 'logout' %}>Logout</a></li>
                {% else %}
                <li><a href={% url 'login' %}>Login</a> </li>
                <li><a href={% url 'signup' %}>Sign Up</a> </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
</body>

</html>
