{% extends 'base.html' %}

{%block content%}
<main>
    <h1>My Expense Categories</h1>
    <table>
        <thead>
            <th scope="col">Name</th>
            <th scope="col">Number of receipts</th>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td scope="row">{{category.name}}</td>
                <td scope="row">{{category.receipts.count}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{%endblock content%}
