{% extends 'base.html' %}

{%block content%}
<main>
    <h1>My Receipts</h1>
    <table>
        <thead>
            <th scope="col">Vendor</th>
            <th scope="col">Total</th>
            <th scope="col">Tax</th>
            <th scope="col">Date</th>
            <th scope="col">Category</th>
            <th scope="col">Account</th>
        </thead>
        <tbody>
            {% for receipt in receipts %}
            <tr>
                <td scope="row">{{receipt.vendor}}</td>
                <td scope="row">{{receipt.total}}</td>
                <td scope="row">{{receipt.tax}}</td>
                <td scope="row">{{receipt.date|date:"m/d/y"}}</td>
                <td scope="row">{{receipt.category.name}}</td>
                <td scope="row">{{receipt.account.name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{%endblock content%}
